/* ============================
   1. GLOBAL STYLES 
===============================
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
}
body::selection {
  background-color: #3b82f6;
  color: #fff;
}
body {
  background-image: linear-gradient(
    to right bottom,
    oklch(0.98 0.016 73.684) 0%,
    oklch(0.987 0.022 95.277) 50%,
    oklch(0.987 0.026 102.212) 100%
  );
  margin: 0;
  padding: 0;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
}
/***** nav *****/
.navbar-toggler {
  border: 0 !important;
  i {
    font-size: 25px;
    font-weight: 600;
  }
}
.navbar-toggler:focus {
  box-shadow: none;
}
.my-nav {
  border-bottom: 1px solid #ffedd4;
}
.my-nav span {
  display: none;
}
@media screen and (max-width: 990px) {
  .my-nav span {
    display: block;
  }
}
.my-nav .container {
  padding: 1rem 2.5rem;
}
@media screen and (max-width: 990px) {
  .my-nav .container {
    padding-inline: 1.5rem;
  }
  .my-nav .container .navbar-nav {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #f1d8b4;
  }
  .my-nav .container a {
    i {
      margin-right: 10px;
    }
    .image {
      margin-right: 10px;
    }
  }
}
.my-nav .container .nav-brand .icon {
  width: 48px;
  height: 48px;
  background-image: linear-gradient(
    to right bottom,
    oklch(0.705 0.213 47.604) 0%,
    oklch(0.637 0.237 25.331) 100%
  );
  i {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #fff;
  }
}
.my-nav .container .nav-brand .content {
  h1 {
    color: oklch(0.21 0.034 264.665);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0;
  }
  @media screen and (max-width: 786px) {
    h1 {
      font-size: 1.125rem;
    }
    p {
      font-size: 0.75rem !important;
    }
  }
  p {
    color: oklch(0.551 0.027 264.364);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0;
  }
}
.my-nav .container a {
  margin-right: 18px;
  padding-inline: 0 !important;
  i {
    color: inherit;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.my-nav .image {
  border: 0.125rem solid oklch(0.837 0.128 66.29);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  img {
    border-radius: 50%;
  }
}
.hover {
  transition: all 0.3s;
}
.hover:hover {
  color: oklch(0.646 0.222 41.116);
}
/***** End nav *****/
/***** Section *****/
main .container .image {
  background-image: url(../images/imgi_2_photo-1633504581786-316c8002b1b9.png);
  background-position: center;
  background-size: cover;
  height: 46.875rem;
  border-radius: 20px 0 0 20px;
}
@media screen and (max-width: 990px) {
  main .container .image {
    border-radius: 20px 20px 0 0;
    height: 25rem;
  }
}
main .box {
  border: 2px solid #ffedd4;
}
/*****&& my-customize *****/
.w-fit {
  width: fit-content;
}
.text-yellow {
  color: oklch(0.852 0.199 91.936);
}
.text-d {
  color: oklch(0.21 0.034 264.665);
}
.text-p {
  color: oklch(0.551 0.027 264.364);
  font-size: 0.875rem;
}
.bg {
  background-color: oklab(0.999994 0.0000455678 0.0000200868 / 0.95);
}
.fs-24 {
  font-size: 1.5rem;
}
.orange {
  color: oklch(0.705 0.213 47.604);
}
/*****&& End my-customize *****/

main .box .content .head span {
  font-size: 0.75rem;
  padding: 4px 0.75rem;
  margin-right: 12px;
  font-weight: 600;
}
main .box .content .head .icon {
  width: 48px;
  height: 48px;
  border-radius: 0.75rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklab(0.954 0.00973002 0.0367332);
  color: oklch(0.646 0.222 41.116);
  transition: all 0.3s;
  cursor: pointer;
}
main .box .content .head .icon:hover {
  background-color: #ffd7a8;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: oklch(0.646 0.222 41.116);
  background-color: #fff;
  border-bottom: 2px solid oklch(0.646 0.222 41.116);
  border-radius: 0;
}
.nav-pills {
  border-bottom: 1px solid oklch(55.096% 0.02679 264.351 / 0.322);
}
.nav-link:hover {
  color: oklch(0.646 0.222 41.116);
}

.my-tap {
  background-image: linear-gradient(
    to right bottom,
    oklch(0.98 0.016 73.684) 0%,
    oklch(0.987 0.022 95.277) 100%
  );
  border-radius: 16px;
  padding: 1.5rem;
}
.tab-content {
  border-bottom: 1px solid oklch(55.096% 0.02679 264.351 / 0.322);
}
.tab-content .tab-pane {
  height: 305px;
  overflow-y: auto;
  margin-block: 25px;
}
.tab-content .tab-pane ul li {
  margin-bottom: 15px;
  display: flex;
  div {
    width: 24px;
    height: 24px;
    background-color: oklch(0.705 0.213 47.604);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 2px;
    margin-right: 12px;
  }
  span {
    color: oklch(0.373 0.034 259.733);
  }
}
.tab-content .tab-pane .Instructions .bog {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  div {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    background-color: oklch(0.705 0.213 47.604);
    margin-right: 1rem;
  }
  p {
    color: oklch(0.373 0.034 259.733);
  }
}
.tab-content .tab-pane .Nutrition .box-1 {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: oklch(0.985 0.002 247.839);
  margin-bottom: 0.9375rem;

  .inner {
    .icon {
      background-color: oklch(0.954 0.038 75.164);
      width: 40px;
      height: 40px;
      border-radius: 8px;
      margin-right: 0.75rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      color: oklch(0.373 0.034 259.733);
      font-weight: 500;
      font-size: 1rem;
    }
  }
  span {
    color: oklch(0.21 0.034 264.665);
    font-size: 1.25rem;
    font-weight: 700;
  }
}
.bg-pep-sub {
  background-color: oklch(0.948 0.028 342.258) !important;
}
.text-pep {
  color: oklch(0.592 0.249 0.584);
}
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 48%;
  }
}
.tab-content .tab-pane .tips {
  padding-inline: 10px;
  .tep {
    padding: 8px 16px;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    background-color: oklch(0.987 0.022 95.277);
    border-left: 5px solid #ffb900;
    i {
      font-size: 1.25rem;
    }
    p {
      margin-top: 15px;
      margin-left: 10px;
      color: oklch(0.373 0.034 259.733);
    }
  }
}
main .box .content .my-btn {
  background-image: linear-gradient(
    to right,
    oklch(0.705 0.213 47.604) 0%,
    oklch(0.637 0.237 25.331) 100%
  );
  padding: 15px 24px;
  color: #fff;
  font-weight: 600;
  border-radius: 0.75rem;
  text-align: center;
  border: none;
  margin-top: 20px;
  transition: all 0.3s;
}
main .box .content .my-btn:hover {
  transform: scale(1.1);
}
/***** End Section *****/
/*****& customize-size screen *****/
@media screen and (max-width: 990px) {
  .fs-sm {
    font-size: 0.75rem !important;
  }
  .fs-14 {
    font-size: 0.875rem !important;
  }
  .fs-18 {
    font-size: 1.125rem !important;
  }
  .nav-link {
    padding-inline: 5px;
  }
  .fs-24 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 484px) {
  .m-top {
    margin-top: 5px;
  }
   .m-l-a {
    margin-left: auto;
  }
  .m-r{
    margin-right: 20px;
  }
  .m-l{
    margin-left: 20px;
  }
}
@media screen and (min-width: 484px) {
  .m-l-auto {
    margin-left: auto;
  }
}
/*****& End customize-size screen *****/
